patches = [
  {
      'name': 'devtools',
      'path': 'third_party/devtools-frontend/src/',
  },
  {
      'name': 'selenium',
      'path': 'third_party/webdriver/pylib/',
  },
  {
      'name': 'ffmpeg',
      'path': 'third_party/ffmpeg/',
  },
  {
      'name': 'icu',
      'path': 'third_party/icu/',
  },
  {
      'name': 'gyp',
      'path': 'tools/gyp/',
  },
  # Add loongarch64 support for nwjs build
  {
    # Add loongarch64 support in chromium for nwjs build
    'name': 'loongarch64_support_src_for_nwjs'
  },
  {
    # Add loongarch64 support in breakpad for nwjs build
    'name': 'loongarch64_support_breakpad_for_nwjs',
    'path': 'third_party/breakpad/breakpad'
  },
  {
    # Add loongarch64 support in boringssl for nwjs build
    'name': 'loongarch64_support_boringssl_for_nwjs',
    'path': 'third_party/boringssl/src'
  },
  {
    # Add loongarch64 support in dawn for nwjs build
    'name': 'loongarch64_support_dawn_for_nwjs',
    'path': 'third_party/dawn'
  },
  {
    # Add loongarch64 support in lss for nwjs build
    'name': 'loongarch64_support_lss_for_nwjs',
    'path': 'third_party/lss'
  },
  {
    # Add loongarch64 support in node for nwjs build
    'name': 'loongarch64_support_node_for_nwjs',
    'path': 'third_party/node-nw'
  },
  {
    # Add loongarch64 fix in v8 for nwjs build
    'name': 'loongarch64_support_v8_for_nwjs',
    'path': 'v8'
  },
  {
    # Add loongarch64 support in ffmpeg for nwjs build
    'name': 'loongarch64_support_ffmpeg_for_nwjs',
    'path': 'third_party/ffmpeg'
  }
]
